
.inline-container,
.inline-block-container,
.block-container,
.flex-container {
    border: 1px solid black;
    border-style: solid;
    border-width: 1px;
}


.inline-div {
    display: inline;
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    background-color: black;
    color: grey;
    font-family: monospace;
    font-size: 2rem;
    transition: background-color 3s;
}

.inline-div:hover {
    background-color: purple;
}


.inline-block-div {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    background-color: red;
    color: grey;
    font-family: monospace;
    font-size: 2rem;
    transition: background-color 3s;
}

.inline-block-div:hover {
    background-color: purple;
}


.block-div {
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    background-color: green;
    color: grey;
    font-family: monospace;
    font-size: 2rem;
    transition: background-color 3s;
}

.block-div:hover {
    background-color: purple;
}


.flex-div {
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    background-color: blue;
    color: grey;
    font-family: monospace;
    font-size: 2rem;
    transition: background-color 3s, width 2s;
}

.flex-div:hover {
    background-color: purple;
}


.flex-container {
    display: flex;
    justify-content: space-evenly;
}


@keyframes increaseWidth {
    0% {
        width: 100px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 100px;
    }
}


.inline-div,
.inline-block-div,
.block-div,
.flex-div {
    animation: increaseWidth 2s infinite alternate;
}
